
#card{
    display: flex;
    width: 40em;
    height: 10em;
    margin-left: 25%;
    margin-top: 15em;
    border: thick double brown;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 26em;
}

label{
    padding-left: 1em;
    padding-right: 1em;
}

.describ{
    width: 14em;
    height: 7em;
}
