
#card{
    display: flex;
    width: 40em;
    height: 10em;
    margin-left: 20em;
    margin-top: 15em;
    border: thick double brown;
    align-items: center;
    justify-content: center;
}

label{
    padding-left: 1em;
    padding-right: 1em;
}



